<svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <defs>
  <filter id="svg_3_blur">
   <feGaussianBlur stdDeviation="0.1" in="SourceGraphic"/>
  </filter>
 </defs>
 <g>
  <title>Layer 1</title>
  {{#each actors}}
   <line x1="{{x}}" x2="{{x}}" y1="10" y2="200" stroke-width="3" stroke="#000000"/>
  {{/each}}
  {{#each calls}}
   <line x1="{{from.x}}" x2="{{to.x}}" y1="{{y}}" y2="{{y}}" stroke-width="2" stroke="#000000"/>
   <line x1="{{from.x}}" x2="{{to.x}} - 3" y1="{{y}} - 3" y2="{{y}}" stroke-width="2" stroke="#000000"/>
   <line x1="{{from.x}}" x2="{{to.x}} - 3" y1="{{y}} + 3" y2="{{y}}" stroke-width="2" stroke="#000000"/>
  {{/each}}
 </g>
</svg>
